body {
  margin: 0;
  font-family: 'SF-Pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'SF-Pro';
}

/*Fonts*/

@font-face {
  font-family: 'SF-Pro';
  src: url('./SF-Pro-Rounded-Regular-Web.woff2') format('woff2'),
    url('./SF-Pro-Rounded-Regular-Web.woff') format('woff'),
    url('./SF-Pro-Rounded-Regular-Web.eot') format('eot'),
    url('./SF-Pro-Rounded-Regular-Web.svg') format('svg'),
    url('./SF-Pro-Rounded-Regular-Web.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

.Graphik-Regular-Web {
  font-family: 'SF-Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
